body {
    color:beige;
    background: rgb(161, 182, 182);
}
.heading{
    width:80%;
    font: 22px;
}
#camera
{
    border: 2px dashed black;
    width:350px;
    height:350px;
}
.name_of_object, #result_object_name, #result_object_accuracy {

    color: rgb(17, 0, 255);
}